/* -------------- 0. SETUP INICIAL  -------------- */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background-color: #d9d9d9;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Blockletter';
    src: url('/rsc/fonts/Blockletter.otf');
    font-weight: normal;
    font-style: normal;
}

/* -------------- 1. LANDING PAGE  -------------- */
/* -------------- 1.1 BOTÃO DE ENTRAR (HTML)  -------------- */

.landing-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

.landing-content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 20px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.landing-content:focus-visible {
    outline: 3px solid white;
    outline-offset: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.landing-logo {
    width: 292px;
    height: 292px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.landing-content:hover .landing-logo {
    transform: scale(1.1)
}

.landing-text {
    margin-top: 24px;
    color: white;
    font-size: 22px;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.landing-content:hover .landing-text {
    opacity: 1;
}

.expansion-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    z-index: 20;
    pointer-events: none;
    transform: scale(0);
    opacity: 1;
    transition: transform 0.8s ease-in-out;
}

/* -------------- 1.2 BOTÃO DE ENTRAR (JS)  -------------- */

.expand-anim {
    transform: scale(150);
}

.hidden {
    display: none !important;
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 10px, 20px;
    z-index: 2000;
    transition: top 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.skip-link:focus {
    top: 0;
}


/* -------------- 2. HOMEPAGE  -------------- */
/* -------------- 2.1 SLIDESHOW DO BACKGOUND  -------------- */

.slideshow-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    will-change: opacity;
    animation: fadeAnim 80s infinite;
}

.slide:nth-child(1) { animation-delay: 0s;}
.slide:nth-child(2) { animation-delay: 10s;}
.slide:nth-child(3) { animation-delay: 20s;}
.slide:nth-child(4) { animation-delay: 30s;}
.slide:nth-child(5) { animation-delay: 40s;}
.slide:nth-child(6) { animation-delay: 50s;}
.slide:nth-child(7) { animation-delay: 60s;}
.slide:nth-child(8) { animation-delay: 70s;}

@keyframes fadeAnim {
    0% {opacity: 0;}
    2% {opacity: 1;}
    12.5% {opacity: 1;}
    14.5% {opacity: 0;}
    100% {opacity: 0;}
}

.content-overlay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
}

/* -------------- 2.2 HEADER E NAV  -------------- */

header {
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 60px
}

nav a {
    font-family: 'Blockletter', sans-serif;
    color: #d9d9d9;
    text-decoration: none;
    font-size: 4.2rem;
    letter-spacing: 2px;
    transition:  color 0.3s ease;
}

nav a:hover {
    color: #ccc;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

.nhl-logo {
    height: 88px;
    margin: 0 20px;
}

/* -------------- 2.3 ÁREA DO TEXTO (HERO)  -------------- */

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-section {
    max-width: 750px;
    color: #d9d9d9;
}

.hero-section h1 {
    font-family: 'Blockletter', sans-serif;
    font-size: 9rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.hero-section p {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* -------------- 3. FRANQUIAS  -------------- */
/* -------------- 3.1 LAYOUT PRINCIPAL  -------------- */

.franchise-container {
    display: flex;
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 5px;
    gap: 50px;
}

.page-franquias nav a{
    color: #000
}

.page-franquias nav a:hover {
    color: #555;
}

/* -------------- 3.2 SLIDESHOW JOGADORES  -------------- */

.franchise-slideshow {
    position: relative;
    width: 527px;
    height: 773px;
    flex-shrink: 0;
    overflow: hidden;
}

.franchise-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    will-change: opacity;
    animation: fadeAnim 100s infinite;
}

.franchise-slide:nth-child(1) {animation-delay: 0s;}
.franchise-slide:nth-child(2) {animation-delay: 10s;}
.franchise-slide:nth-child(3) {animation-delay: 20s;}
.franchise-slide:nth-child(4) {animation-delay: 30s;}
.franchise-slide:nth-child(5) {animation-delay: 40s;}
.franchise-slide:nth-child(6) {animation-delay: 50s;}
.franchise-slide:nth-child(7) {animation-delay: 60s;}
.franchise-slide:nth-child(8) {animation-delay: 70s;}
.franchise-slide:nth-child(9) {animation-delay: 80s;}
.franchise-slide:nth-child(10) {animation-delay: 90s;}


.slide-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* -------------- 3.2 TÍTULO E TABELA DE FRANQUIAS  -------------- */
/* -------------- 3.2.1 TÍTULO -------------- */

.franchise-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-title {
    font-family: 'Blockletter' , sans-serif;
    font-size: 6rem;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
    letter-spacing: 2px;
}

.conferences-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.conference {
    flex: 1;
}

.conference h2, 
.conference h3 {
    font-family: 'Blockletter', sans-serif;
    color: #000;
    text-align: center;
    white-space: nowrap;
}

.conference h2 {
    font-size: 2.4rem;
    margin-bottom: 5px;
}

.conference h3 {
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* -------------- 3.2.2 TABELA -------------- */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

td {
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

td a {
    font-family: 'Blockletter', sans-serif;
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, color 0.2s ease
}

td a:hover {
    transform: scale(1.1);
    color: #555
}
td img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit:contain;
    margin-bottom: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}



/* -------------- 4. FRANQUIAS -------------- */
/* -------------- 4.1 LAYOUT GERAL -------------- */

.page-team {
    overflow-y: auto;
}

.page-team nav a {
    color: #d9d9d9;
}

.page-team nav a:hover {
    color: #555;
}

.team-nav-logo {
    height: 70px;
    margin: 0 20px;
    object-fit: contain;
}

.team-container {
    max-width: 1700px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 60px 80px 60px;
    display: block;
}

/* -------------- 4.2 HERO DO TIME -------------- */
.team-hero {
    display: flex;
    gap: 60px;
    align-items: stretch;
}

.team-hero-image {
    width: 541px;
    height: 785px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.team-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.team-hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--team-color);
    opacity: 0.2;
    pointer-events: none;

}

.team-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 10px;
}

.team-title {
    font-family: 'Blockletter' , sans-serif;
    font-size: 5rem;
    color: #000;
    line-height: 0.9;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.team-name {
    color: var(--team-color);
    font-size:6rem;
    display: block;
    margin-top: 5px;
}

.team-history {
    font-size: 1.18em;
    line-height: 1.5;
    color: #222;
    margin: 4px 0px;
    text-align: justify;
}

/* -------------- 4.3 ESTATÍSTICAS -------------- */

.team-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: auto;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-family: 'Blockletter', sans-serif;
    font-size: 6.5rem;
    color: var(--team-color);
    line-height: 0.8;
}

.stat-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-top:12px;
    text-transform: uppercase;
}

/* -------------- 5. JOGADORES E HALL DA FAMA -------------- */
/* -------------- 5.1 JOGADORES -------------- */

.team-players-section {
    margin-top: 80px;
}

.section-title {
    font-family: 'Blockletter', sans-serif;
    font-size: 6rem;
    color: #000;
    line-height: 1;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.team-color-text {
    color: var(--team-color);
}

.players-layout {
    display: flex;
    gap: 50px;
    align-items: stretch;
}


.player-card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.player-card img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: top center;
    border-radius: 4px;
}

.player-name {
    color: var(--team-color);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.player-position {
    color: #444343;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4px;
}

/* -------------- 5.2 CARROSSEL DE IMAGENS -------------- */

.carousel-container {
    flex: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.carousel-container input[type='radio'] {
    display: none;
}

.carousel-track {
    display: flex;
    width: 300%;
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.carousel-slide {
    width: 33.333%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#slide1:checked ~ .carousel-track {transform : translateX(0);}
#slide2:checked ~ .carousel-track {transform : translateX(-33.3333%);}
#slide3:checked ~ .carousel-track {transform : translateX(-66.6666%);}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

.carousel-dots label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s transform 0.2s;
}

.carousel-dots label:hover {
    transform: scale(1.2);
    background-color: #888;
}
#slide1:checked ~ .carousel-dots label[for="slide1"],
#slide2:checked ~ .carousel-dots label[for="slide2"],
#slide3:checked ~ .carousel-dots label[for="slide3"] {
    background-color: #000000;
}


/* -------------- 5.3 HALL DA FAMA -------------- */

.hall-of-fame-container{
    flex: 1;
    display: flex;
    margin-bottom: 110px;
}

.hof-vertical-text {
    font-family: 'Blockletter', sans-serif;
    font-size: 2.8rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-right: 5px;
    align-self: stretch;
    text-align: right;
}

.hof-image-wrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.hof-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.hof-image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--team-color);
    opacity: 0.3;
    pointer-events: none;
    z-index: 1;
}

.hof-info-box {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border: 2px solid white;
    padding: 15px;
    text-align: center; 
    z-index: 2;
}

.hof-name {
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
}

.hof-position {
    color: #eee;
    font-size: 1.1rem;
    margin: 5px 0 15px 0;
}

.hof-years {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


/* -------------- 6.AGENDA -------------- */
.team-agenda-section {
    background-color: var(--team-color);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 100px;
    padding: 60px 0;
}

.agenda-layout {
    max-width: 1700px;
    width: 95%;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.agenda-title {
    font-family: 'Blockletter', sans-serif;
    font-size: 7rem;
    color: #fff;
    flex-shrink: 0;
}

.agenda-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    flex-grow: 1;
}

.game-card {
    background-color: #fff;
    display: flex;
    height: 140px;
}

.game-date {
    background-color: #e6e6e6;
    width: 85px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 1.4rem;
    color: #000;
    line-height: 1.1;
}

.game-info {
    flex-grow: 1;
    padding: 50px 20px 15px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.game-status {
    position: absolute;
    top: 14%;
    left: 22%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    padding: 3px 15px;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
}

.team-row {
    display: flex;
    align-items: center;
    font-family: 'Blockletter', sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
}
.team-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.team-score {
    margin-left: auto;
}

.team-row.winner {
    color: #000;
}

.team-row.loser {
    color: #ccc;
}

.team-row.future {
    color: #000;
}

.team-abbr {
    width: 65px;
    display: inline-block;
}

/* -------------- 7. NOTICIAS -------------- */

.team-news-section {
    margin-top: 50px;
    padding-bottom: 50px;
}

.news-section-title {
    font-family: 'Blockletter', sans-serif;
    font-size: 6rem;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.news-grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 40px;
    align-items: stretch;
}

.news-card {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.news-card:hover .news-headline {
    color: var(--team-color);
}

.news-image-wraper {
    width: 100%;
    overflow: hidden;
}

.news-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.news-card:hover img {
    transform: scale(1.05);
}

.featured-news .news-image-wrapper {
    height: 775px;
    width: 1020px;
}

.featured-news .news-headline {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.2;
    transition: color 0.3s
}

.secondary-news-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.secondary-news {
    height: calc(50% - 15px);
}

.secondary-news .news-image-wrapper {
    height: 312px;
    width: 540px;
}

.secondary-news .news-headline {
    font-size: 1.3rem;
    margin-top: 15px;
    line-height: 1.4;
    transition: color 0.3s
}

.news-subtitle {
    color: #444343;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 400;
}

.featured-news .news-subtitle {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.secondary-news .news-subtitle {
    font-size:1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* -------------- 8. CLASSIFICAÇÃO -------------- */
/* -------------- 8.1 NAV SUPERIOR -------------- */
.page-classificacao {
    overflow-y: auto;
}

.page-classificacao nav a {
    color: #000;
}

.page-classificacao header nav a.active {
    text-decoration-color: #000;
}

.standings-container {
    width: 95%;
    margin: 0 auto;
    padding: 40px 60px;
    display: block;
}

/* -------------- 8.2 NAV DAS CLASSIFICAÇÕES -------------- */

.sub-nav {
    display: flex;
    gap: 40px;
    border-bottom: 2px solid #646464;
    margin-bottom: 40px;
}
.sub-nav a {
    font-family:  'Blockletter', sans-serif;
    font-size: 2.2rem;
    color: #646464;
    text-decoration: none;
    padding-bottom: 10px;
    transition: color 0.3s;
}

.sub-nav a:hover {
    color: #a09e9e
}

.sub-nav a.active {
    color: #000;
    border-bottom: 4px solid #000;
}

/* -------------- 8.3 IFRAME -------------- */

.standings-iframe {
    width: 100%;
    min-height: 500px;
    transition: height 0.4s ease;
    border: none;
}
.iframe-body {
    background-color: transparent;
    padding: 10px;
    overflow: hidden;
    height: auto;
    overflow: visible;
}

.conference-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.conference-title-west {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    padding-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

.division-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 40px;
}

/* -------------- 8.3.1 TABELAS -------------- */
.standings-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.standings-table th {
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.standings-table td {
    padding: 12px 5px;
    font-weight: 700;
    font-size: 1rem;
}


.standings-table .col-team {
    text-align: left;
}

.standings-table .col-rank {
    text-align: center;
}

.standings-table .col-team {
    width: 25%;
}

.standings-table tbody tr:nth-child(odd) {
    background-color: #d9d9d9;
}

.standings-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.diff-positive {
    color: #00b300;
}

.diff-negative {
    color: #d41212;
}
.standings-clinched {
    background-color: #c0bfbf;
    padding: 0px 3px;
    border-radius: 3px;
    font-size: 1rem;
}
.table-team-name {
    transform: translateY(-2px);
}
/* -------------- 8.3.2 LOGOS NA TABELA -------------- */
.standings-team-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-team-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

/* -------------- 8.4 LEGENDA -------------- */
.legend-section {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 2px solid #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.legend-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: #000;
}

.legend-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.legend-col p {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 6px;
    line-height: 1.4;
}

.legend-col strong {
    color: #000;
    font-weight: bold;
}
